/* 
align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline ;
*/

.card {
    display: flex;
    align-content: flex-start;
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: stretch; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: space-evenly; */
    /* align-content: baseline; */
}